/* layout */
* {
    font-family: "Times New Roman", sans-serif;
    box-sizing: border-box;
}

body {
    height: 100%;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    z-index: 7;
    position: sticky;
    top: 0;
}

main {
    /*padding: 30px;*/
    flex: 1 1 auto;
    min-height: 100%;
}

/* /layout */

h2 {
    font-weight: bolder;
    font-style: italic;
}

.form-signin {
    max-width: 400px;
}


.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.logo {
    height: 20px;
    width: 20px;
}

/* categories */
.categories-list .card {
    transition-duration: 0.3s;
}

.categories-list a {
    text-decoration: none;
    color: #313030;
}

.categories-list .card:hover {
    background: #f1f1f1;
    transform: scale(1.02);
}

/* /categories */

/* category page */

/* /category page */
